<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="stylesheet" href="/src/assets/css/contact.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <div class="navigation">
        <div class="nav-left">
          <img src="/src/assets/image/logo.png" alt="" />
          <div class="link">
            <a href="/views/index.html" class="active-link">Home</a>
            <a href="/views/project.html">My Project</a>
            <a href="/views/testimonial.html">Testimonial</a>
          </div>
        </div>
        <div class="nav-right">
          <a href="/views/contact.html">Contact Me</a>
          <div class="burger" onclick="bars(this)">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>
      </div>
    </nav>
    <div class="items-hamburger" id="items-bars">
      <a href="/views/index.html">Home</a>
      <a href="/views/project.html">My Project</a>
      <a href="/views/testimonial.html">Testimonial</a>
      <a href="/views/contact.html">Contact Me</a>
    </div>
    <!-- navbar end -->
    <!-- contact -->
    <hr />
    <div class="contact-form">
      <div class="judul">
        <h4>GET IN TOUCH</h4>
      </div>
      <form action="">
        <div class="contact-main">
          <div>
            <label for="name">Name</label>
            <input type="text" id="name" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" inputmode="numeric" />
          </div>
          <div>
            <label for="number">Phone Number</label>
            <input type="number" id="number" inputmode="numeric" />
          </div>
          <div class="select">
            <label for="input-select">Subject</label>
            <select name="" id="input-select" required>
              <option value="" hidden>Select</option>
              <option value="Frontend">Frontend</option>
              <option value="Backend">Backend</option>
              <option value="Fulstack">Fulstack</option>
            </select>
          </div>
          <div class="message">
            <label for="Description" class="form-label">Your Message</label>
            <textarea
              class="form-control"
              id="Description"
              style="resize: none; height: 100px"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="btn-cotact">
            <button
              type="button"
              class="float-end btn btn-light rounded text-dark fw-bold"
              onclick="submitData()"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
    <!-- contact end -->
    <script src="/src/assets/js/nav.js"></script>
    <script src="/src/assets/js/contact.js"></script>
  </body>
</html>
