<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonial</title>
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="stylesheet" href="/src/assets/css/testimonial.css" />
  </head>
  <body>
    <nav>
      <div class="navigation">
        <div class="nav-left">
          <img src="/src/assets/image/logo.png" alt="" />
          <div class="link">
            <a href="/views/index.html" class="active-link">Home</a>
            <a href="/views/project.html">My Project</a>
            <a href="/views/testimonial.html">Testimonial</a>
          </div>
        </div>
        <div class="nav-right">
          <a href="/views/contact.html">Contact Me</a>
          <div class="burger" onclick="bars(this)">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>
      </div>
    </nav>
    <div class="items-hamburger" id="items-bars">
      <a href="/views/index.html">Home</a>
      <a href="/views/project.html">My Project</a>
      <a href="/views/testimonial.html">Testimonial</a>
      <a href="/views/contact.html">Contact Me</a>
    </div>
    <hr />
    <div class="container-testi">
      <h1>My Testimonials</h1>
      <section class="testimonials" id="testimonials">
        <!-- <div class="testimonial">
          <img
            src="/src/assets/image/profile.jpg"
            class="profile-testimonial"
          />
          <p class="quote">
            "duniaku ini penuh dengan kebetulan , dan kebetulan yang paling aku
            syukuri adalah bertemu dengan mu"
          </p>
          <p class="author">- Arkanul Adelis</p>
        </div> -->
      </section>
    </div>
  </body>
  <script src="/src/assets/js/nav.js"></script>
  <script src="/src/assets/js/testimonial.js"></script>
</html>
