.content-detail {
  margin-top: 1px;
  height: 100vh;
}

.judul-detail {
  display: flex;
  justify-content: center;
}
.judul-detail h2 {
  margin-top: 2rem;
  color: #fffffe;
}
.detail {
  display: flex;
  padding: 1rem 2rem;
}

.detail-left img {
  width: 500px;
}
.detail-right {
  margin-left: 100px;
  padding: 1rem 0;
}
.detail-right h4,
i {
  color: #fffffe;
}
.duration i {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}
.duration p {
  font-weight: 300;
}
.tecnologies {
  width: 250px;
}
.tecno {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}
.tecno-left i {
  display: flex;
  color: #fffffe;
  font-weight: bold;
}
.tecno-left p {
  margin-left: 9px;
  font-weight: 300;
}
.tecno-right p {
  margin-left: 9px;
  font-weight: 300;
}
.tecno-right i {
  display: flex;
  color: #fffffe;
  font-weight: bold;
}
.tecno img {
  width: 40px;
  margin: 0 3rem;
}
.detail-p p {
  padding: 0 2rem;
  text-align: justify;
}
@media only screen and (max-width: 500px) {
  .detail {
    padding: 0;
  }
  .judul-detail h2 {
    margin-bottom: 2rem;
  }
  .detail-left img {
    width: 200px;
    height: 230px;
    margin-bottom: 1rem;
  }
  .detail-right {
    margin-left: 10px;
    padding: 5px 0;
  }
  .duration i {
    display: flex;
    padding: 5px 0;
    gap: 5px;
  }
  .duration p {
    font-weight: 100;
    font-size: 10px;
    margin-left: 5px;
  }
  .tecno {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  .tecno p {
    font-size: 10px;
    margin-top: 1px;
  }
  .detail-p p {
    padding: 0;
  }
}
