<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrasi</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/register.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav style="background-color: #004643" class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/"><img
            src="/image/logo.png"
            style="width: 40px; height: 40px"
            alt=""
            srcset=""
          /></a>
        {{! <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link text-light fw-bold ms-2"
                aria-current="page"
                href="/"
              >Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light fw-bold ms-2"
                aria-current="true"
                href="/add-project"
                style="color: #f9bc60"
              >Add Project</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light fw-bold ms-2"
                href="/testimonial"
              >Testimonial</a>
            </li>
          </ul>
          <div class="d-flex" role="search">
            <button
              class="border border-0 me-4 rounded"
              type="submit"
              style="background-color: #f9bc60"
            >
              <a class="nav-link text-dark px-2 fw-bold" href="/contact">Contact
                Me</a>
            </button>
          </div>
        </div> }}
      </div>
    </nav>

    <form class="p-1 mx-auto mb-0" method="post" action="/registrasi">
      <div class="container-register">
        <h3>Register</h3>

        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" id="password" name="password" />
        </div>

        <div class="btn">
          <button> Next Register</button>
        </div>

      </div>
    </form>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>